body {
    background-color: #3C3C3C;
}
.container {
    background-color: #FFFFFF;
    color: #000000;
}

#header {
    background-image: url(/images/header-faded.jpg);
}
#header h3 {
    margin: 10px 30px;
}

#navbar {
    background-color: #41998C;
    font-size: 13px;
    padding: 10px 0px;
}

#content {
    margin: 20px 0px;
}

footer {
    background-color: #41998C;
    color: #FFFFFF;
}
footer .contact {
    margin: 10px;
}



