body {
    background-color: rgb(230,230,230);
}
.container {
    background-color: #FFFFFF;
    color: #000000;
}

.buffer{
    background-color: rgba(0,0,0,0);
    height: 210;

}
.piano-image {
    height: 300;
    background-image: url(../images/pianobg.jpg);
}
.index-header {
    background-color: #FFFFFF;
    background-color: rgba(255,255,255,0.5);
}
.index-header h3{
    margin: 0px;
    padding: 20px;
}
.index-info {
    background-color: #41998C;
}
.index-info h4 {
    padding: 10px;
}
.index-line {
    height: 5px;
    background-color: #41998C;
}
.index-body {
    height: 300px;
}

#header {
    background-image: url(../images/header-faded.jpg);
}
#header h3 {
    margin: 10px 30px;
}

#navbar {
    background-color: #41998C;
    font-size: 13px;
    padding: 10px 0px;
}


#content {
    margin: 20px 0px;
}

footer {
    background-color: #41998C;
    color: #FFFFFF;
}
footer .contact {
    margin: 10px;
}

button a {
   color: #000000;
}
#navbar a {
   color: #FFFFFF;
}
#navbar a:link {
   color: #FFFFFF;
   text-decoration: none;
}
#navbar a:visited {
   color: #FFFFFF;
   text-decoration: none;
}
#navbar a:active {
   color: #FFFFFF;
   font-weight: bold;
   text-decoration: none;
}
#navbar a:hover {
   color: #FFFFFF;
   text-decoration: none;
}

footer a, a.translatelink {
   color: #000000;
}

